* {
    margin: none 0;
    border: none 0;
}

img {
    margin: none 0;
}

.wrapper { 
    width: 1366px; 
    margin: 0 auto; 
    padding: 0 15px;
    background-color: black;
    position: relative;
}


#main-wraper > .row {
    width: 1366px;
    margin: 0;
    padding: 0;
}

#home {
    background-image: url("assets/home/tileFillBG-home2.png");
    background-repeat: repeat-x;
    height: 768px;
    z-index: -90;
}

#games {
    height: 768px;
    background-repeat: repeat-x;
    background-image: url("assets/games/tileFillBG-1px-games.png");
    z-index: -90;
}


#faqs {
    height: 768px;
    background-repeat: repeat-x;
    background-image: url("assets/faqs/tileFillBG-1px-faqs.png");
    z-index: -90px;
}

#weblogo {
    top: 50px;
    left: 50%;
    z-index: 2;
    margin-left: -94px;
}

.absoluteCenter {
    position: absolute;
    top: 10px;
    left: 50%;
    display: inline-block;
    z-index: 2;
}

div.abCenterHelper {
    position: relative;
    left: -50%;
    z-index: 2;
}

#hiringButtonContainer {
    top: 110px;
    left: 50%;
    margin-left: -220px;
}

.absoluteWrapper {
    position: absolute;
    z-index: 2;
}

.relativeWrapper {
    position: relative;
    z-index: 1px;
}

#gamesTitle {
    //left: 90px;
}

.title {
    left: 90px;
}

#ipad {
    top: 70px;
    left: 50%;
    margin-left: -465px;
}

#birdDecor {
    left: 79%;
    z-index: 4;
    top: 568px;
}

#appContainerWrapper {
    width: 889px;
    height: 505px;
    left: 238px;
    top: 105px;
}

#appsContainer {
    width: 889px;
    height: 505px;
    z-index: 4;
    padding: 15px;
    //background-color: black;
}

#appsContainer .row {
    margin-bottom: 20px;
}

#floatingnav {
    width: 50px;
    left: 95%;
}

#floatingnav > img {
    display: block;
    margin: 20px auto;
    opacity: 0.5;
}

#floatingnav > img:hover {
    opacity: 1;
    cursor: pointer;
}

#tileMidBgGames {
    left: 50%;
    margin-left: -27.5px;
    z-index: 0;

}

a:hover, a:link, a:active {
    color: #FFFFFF;
    text-decoration: none;
}

#contactUsButtonContainer {
    top: 228px;
    left: 50%;
    margin-left: -180px;
}

#gamesButtonContainer {
    top: 280px;
    left: 50%;
    margin-left: -46px;
}

#faqsButtonContainer {
    top: 218px;
    left: 57%;
}

#aboutButtonContainer {
    top: 100px;
    left: 59%;
}

#tileMidBg {
    left: 50%;
    margin-left: -103px;
}

#tileMidBg {
    top: 0px;
    z-index: 1;
}


#faqsContainer2 {
    top: 75px;
    left: 50%;
    width: 1124px;
    height: 613px;
    margin-left: -562px;
    //background-color: black;
}

#faqsContainer2 > div > div:hover {
    cursor: pointer;
}

#faqsContainer2 > div > div > img {
    margin: 7px;
}

#appIcons {
    width: 100px;
    height: 613px;
    //background-color: white;
    float: left;
}

.appTab {
    margin-bottom: 2px;
}

.activeFaq {
    background-image: url("assets/faqs/tabIcon_selected.png");
    width: 100px;
    height: 75px;
    float: right;
}

.inactiveFaq {
    background-image: url("assets/faqs/tabIcon_unselected.png");
    width: 87px;
    height: 75px;
    float: right;
}

#faqsTextContainer {
    width: 1022px;
    height: 611px;
    border-top: 1px solid #98c496;
    background-color: white;
    float: left;
}

