/* Put your CSS here */
.ember-application {
	width: 978px;
	margin: 0 auto;
}


body {
	padding-top: 78px;
}

.container { 
  width: 978px;
}

.thumbnail > img {
  margin-top: 20px;
  border-radius: 100%;
  border: solid 4px;
}

.navbar {
  position: fixed;
  width: 978px;
  margin: 0 auto;
  z-index: 2;
  height: 78px;
  background: white;

  border: none; }
  .navbar .active > a, .navbar .navbar-nav > li > a {
    padding: 29px;}
  .navbar .active > a:hover, .navbar .navbar-nav > li > a:hover {
    color: black; }

.navbar-header > a {

  	padding: 29px;
}